<script>
	function fisherYates ( myArray ) {
		var i = myArray.length,j,temp;
		if (i === 0) return false;
		while (--i) {
			j = Math.floor(Math.random()*(i+1));
			temp = myArray[i];
			myArray[i] = myArray[j]; 
			myArray[j] = temp;
		}
	}
	var products = new Array();
	{% if collection and collection.all_products_count > 1 %}
		{% for product in collection.products %}products[{{ forloop.index | minus:1 }}] = "<a href='{{ product.url | within: collection }}'><img src='{{ product.featured_image | product_img_url:'large' }}' alt='{{ shop.name | escape }}' /><br />{{ product.title | escape }}<br />{{ product.price | money }}</a>";{% endfor %}
	{% else %}
		{% for product in collections.all.products %}products[{{ forloop.index | minus:1 }}] = "<a href='{{ product.url }}'><img src='{{ product.featured_image | product_img_url:'large' }}' alt='{{ shop.name | escape }}' /><br />{{ product.title | escape }}<br />{{ product.price | money }}</a>";{% endfor %}
	{% endif %}	
	fisherYates(products);
	for(var i=0;i<6;i++) {
		document.write(products[i]);	
	}
</script>