<script>
	function fisherYates ( myArray ) {
		var i = myArray.length,j,temp;
		if (i === 0) return false;
		while (--i) {
			j = Math.floor(Math.random()*(i+1));
			temp = myArray[i];
			myArray[i] = myArray[j]; 
			myArray[j] = temp;
		}
	}
	var products = new Array();
	{% assign current = product.url %}
	{% assign count = 0 %}
	{% assign display-count = 6 %}
	{% if collection and collection.all_products_count > 1 %}
		{% for product in collection.products %}{% unless product.url == current %}products[{{ count }}] = "<a href='{{ product.url | within: collection }}'><img src='{{ product.featured_image | product_img_url:'large' }}' alt='{{ shop.name | escape }}' /><br />{{ product.title | escape }}<br />{{ product.price | money }}</a>";{% assign count = count | plus:1 %}{% endunless %}{% endfor %}
	{% else %}
		{% for product in collections.all.products %}{% unless product.url == current %}products[{{ count }}] = "<a href='{{ product.url }}'><img src='{{ product.featured_image | product_img_url:'large' }}' alt='{{ shop.name | escape }}' /><br />{{ product.title | escape }}<br />{{ product.price | money }}</a>";{% assign count = count | plus:1 %}{% endunless %}{% endfor %}
	{% endif %}	
	{% if count > display-count %}{% assign count = display-count %}{% endif %}
	fisherYates(products);
	for(var i=0; i<{{ count }}; i++) {
		document.write(products[i]);	
	}
</script>