{% assign s1 = settings.show1 %}
{% assign s2 = settings.show2 %}
{% assign s3 = settings.show3 %}
{% assign s4 = settings.show4 %}
{% assign s5 = settings.show5 %}

{% assign l1 = settings.link1 %}
{% assign l2 = settings.link2 %}
{% assign l3 = settings.link3 %}
{% assign l4 = settings.link4 %}
{% assign l5 = settings.link5 %}

<ul class="bxslider">
	{% if s1 %}<li>{% if l1 != blank %}{{ 'slide1.jpg' | asset_url | img_tag:shop.name | link_to:l1 }}{% else %}{{ 'slide1.jpg' | asset_url | img_tag:shop.name }}{% endif %}</li>{% endif %}
	{% if s2 %}<li>{% if l2 != blank %}{{ 'slide2.jpg' | asset_url | img_tag:shop.name | link_to:l2 }}{% else %}{{ 'slide2.jpg' | asset_url | img_tag:shop.name }}{% endif %}</li>{% endif %}
	{% if s3 %}<li>{% if l3 != blank %}{{ 'slide3.jpg' | asset_url | img_tag:shop.name | link_to:l3 }}{% else %}{{ 'slide3.jpg' | asset_url | img_tag:shop.name }}{% endif %}</li>{% endif %}
	{% if s4 %}<li>{% if l4 != blank %}{{ 'slide4.jpg' | asset_url | img_tag:shop.name | link_to:l4 }}{% else %}{{ 'slide4.jpg' | asset_url | img_tag:shop.name }}{% endif %}</li>{% endif %}
	{% if s5 %}<li>{% if l5 != blank %}{{ 'slide5.jpg' | asset_url | img_tag:shop.name | link_to:l5 }}{% else %}{{ 'slide5.jpg' | asset_url | img_tag:shop.name }}{% endif %}</li>{% endif %}
</ul>