{% if paginate.pages > 1 %}

  {% if paginate.previous %}
    <a href="{{ paginate.previous.url }}">Previous</a>
  {% endif %}

  {% for part in paginate.parts %}
    {% if part.is_link %}
      <a href="{{ part.url }}">{{ part.title }}</a>
    {% else %}
      {{ part.title }}
    {% endif %}
  {% endfor %}

  {% if paginate.next %}
    <a href="{{ paginate.next.url }}">Next</a>
  {% endif %}

{% endif %}
