<a class="featured-link" href="{{ product.featured_image | product_img_url:'1024x1024' }}" data-lightbox="{{ product.title | handle }}">
	<img itemprop="image" class="featured-img" src="{{ product.featured_image | product_img_url:'grande' }}" alt="{{ product.title | escape }}" />
</a>

{% if product.images.size > 1 %}
	{% for image in product.images %}
		<a href="javascript:void(0)" onclick="alt_images('{{ image | product_img_url:'grande' }}','{{ image | product_img_url:'1024x1024' }}');">{{ image | product_img_url:'small' | img_tag:product.title }}</a>
	{% endfor %}
{% endif %}

<script>
	function alt_images(src,href) {
		$('.featured-img').attr('src',src);
		$('.featured-link').attr('href',href);
	}
</script>
