<form action="/cart/add" method="post">
	{% if product.variants.size > 1 %}
		{% if product.options[0] %}
			{% assign used = '' %}
			<label for="select-one">{{ product.options[0] }}</label>
			<select id='select-one' onchange="optionSelect()">
				{% for variant in product.variants %}
					{% assign used-gate = true %}
					{% assign used-check = used | split:'*' %}
					{% for check in used-check %}{% if check == variant.option1 %}{% assign used-gate = false %}{% endif %}{% endfor %}
					{% if used-gate %}
						<option value="{{ variant.option1 }}">{{ variant.option1 }}</option>
						{% capture used %}{{ used }}*{{ variant.option1 }}{% endcapture %}
					{% endif %}
				{% endfor %}
			</select>
		{% endif %}
		{% if product.options[1] %}
			{% assign used = '' %}
			<label for="select-one">{{ product.options[1] }}</label>
			<select id='select-two' onchange="optionSelect()">
				{% for variant in product.variants %}
					{% assign used-gate = true %}
					{% assign used-check = used | split:'*' %}
					{% for check in used-check %}{% if check == variant.option2 %}{% assign used-gate = false %}{% endif %}{% endfor %}
					{% if used-gate %}
						<option value="{{ variant.option2 }}">{{ variant.option2 }}</option>
						{% capture used %}{{ used }}*{{ variant.option2 }}{% endcapture %}
					{% endif %}
				{% endfor %}
			</select>
		{% endif %}
		{% if product.options[2] %}
			{% assign used = '' %}
			<label for="select-one">{{ product.options[2] }}</label>
			<select id='select-three' onchange="optionSelect()">
				{% for variant in product.variants %}
					{% assign used-gate = true %}
					{% assign used-check = used | split:'*' %}
					{% for check in used-check %}{% if check == variant.option3 %}{% assign used-gate = false %}{% endif %}{% endfor %}
					{% if used-gate %}
						<option value="{{ variant.option3 }}">{{ variant.option3 }}</option>
						{% capture used %}{{ used }}*{{ variant.option3 }}{% endcapture %}
					{% endif %}
				{% endfor %}
			</select>
		{% endif %}
	{% endif %}
	<input type="hidden" name="id" id="product-select" value="{{ product.variants[0].id }}" />
	<label>Quantity</label>
	<input type="text" name="quantity" id="quantity" value="1" onclick="this.select()" />
	<button type="submit">add to cart</button>
</form>
