{% comment %} Simple product images {% endcomment %}

<section class="images">
	<img class="main-image" src="{{ product.images[0] | img_url:'1024x' }}" alt="{{ product.images[0].alt }}" />
	{% if product.images.size > 1 %}
		<div class="alt-images">
			{% for image in product.images %}
				<img src="{{ image | img_url:'100x100' }}" data="{{ image | img_url:'1024x' }}" alt="{{ image.alt }}" />
			{% endfor %}
		</div> <!-- end .alt-images -->
	{% endif %}
</section> <!-- end .images -->

<script>
	$('.alt-images img').click(function() {
		var image = $(this).attr('data');
		$('.main-image').attr('src',image);
	});
</script>
