{% comment %} Simple product images {% endcomment %}

<section class="images">
	<img itemprop="image" class="main-image" src="{{ product.images[0] | img_url:'1024x' }}" alt="{{ product.images[0].alt }}" />
	{% if product.images.size > 1 %}
		<figure class="alt-images" role="figure" aria-label="Additional images of {{ product.title }}">
			{% for image in product.images %}
				<img src="{{ image | img_url:'100x100' }}" data="{{ image | img_url:'1024x' }}" alt="{{ image.alt }}" />
			{% endfor %}
			<figcaption>
				Additional images of {{ product.title }}
			</figcaption>
		</figure> <!-- end .alt-images -->
	{% endif %}
</section> <!-- end .images -->

<script>
	$('.alt-images img').click(function() {
		var image = $(this).attr('data');
		$('.main-image').attr('src',image);
	});
</script>
