<form action="/cart/add" method="post">
	{% if product.variants.size > 1 %}
		{% if product.options[0] %}
			{% assign used = '' %}
			<label for="select-one">{{ product.options[0] }}</label>
			<select id='select-one' onchange="optionSelect()">
				{% for variant in product.variants %}
					{% unless used contains variant.option1 %}
						<option value="{{ variant.option1 }}">{{ variant.option1 }}</option>
						{% capture used %}{{ used }} {{ variant.option1 }}{% endcapture %}
					{% endunless %}
				{% endfor %}
			</select>
		{% endif %}
		{% if product.options[1] %}
			{% assign used = '' %}
			<label for="select-one">{{ product.options[1] }}</label>
			<select id='select-two' onchange="optionSelect()">
				{% for variant in product.variants %}
					{% unless used contains variant.option2 %}
						<option value="{{ variant.option2 }}">{{ variant.option2 }}</option>
						{% capture used %}{{ used }} {{ variant.option2 }}{% endcapture %}
					{% endunless %}
				{% endfor %}
			</select>
		{% endif %}
		{% if product.options[2] %}
			{% assign used = '' %}
			<label for="select-one">{{ product.options[2] }}</label>
			<select id='select-three' onchange="optionSelect()">
				{% for variant in product.variants %}
					{% unless used contains variant.option3 %}
						<option value="{{ variant.option3 }}">{{ variant.option3 }}</option>
						{% capture used %}{{ used }} {{ variant.option3 }}{% endcapture %}
					{% endunless %}
				{% endfor %}
			</select>
		{% endif %}
	{% endif %}
	<input type="hidden"name="id" id="product-select" value="{{ product.variants.first.id }}" />
	<button type="submit">add to cart</button>
</form>