<form action="/cart/add" method="post">
	{% if product.variants.size > 1 %}
		{% if product.options[0] %}
			{% assign used = '' %}
			<label for="select-one">{{ product.options[0] }}</label>
			<select id='select-one' onchange="optionSelect()">
				{% for variant in product.variants %}
					{% assign used-gate = true %}
					{% assign used-check = used | split:'*' %}
					{% for check in used-check %}{% if check == variant.option1 %}{% assign used-gate = false %}{% endif %}{% endfor %}
					{% if used-gate %}
						<option value="{{ variant.option1 }}">{{ variant.option1 }}</option>
						{% capture used %}{{ used }}*{{ variant.option1 }}{% endcapture %}
					{% endif %}
				{% endfor %}
			</select>
		{% endif %}
		{% if product.options[1] %}
			{% assign used = '' %}
			<label for="select-one">{{ product.options[1] }}</label>
			<select id='select-two' onchange="optionSelect()">
				{% for variant in product.variants %}
					{% assign used-gate = true %}
					{% assign used-check = used | split:'*' %}
					{% for check in used-check %}{% if check == variant.option2 %}{% assign used-gate = false %}{% endif %}{% endfor %}
					{% if used-gate %}
						<option value="{{ variant.option2 }}">{{ variant.option2 }}</option>
						{% capture used %}{{ used }}*{{ variant.option2 }}{% endcapture %}
					{% endif %}
				{% endfor %}
			</select>
		{% endif %}
		{% if product.options[2] %}
			{% assign used = '' %}
			<label for="select-one">{{ product.options[2] }}</label>
			<select id='select-three' onchange="optionSelect()">
				{% for variant in product.variants %}
					{% assign used-gate = true %}
					{% assign used-check = used | split:'*' %}
					{% for check in used-check %}{% if check == variant.option3 %}{% assign used-gate = false %}{% endif %}{% endfor %}
					{% if used-gate %}
						<option value="{{ variant.option3 }}">{{ variant.option3 }}</option>
						{% capture used %}{{ used }}*{{ variant.option3 }}{% endcapture %}
					{% endif %}
				{% endfor %}
			</select>
		{% endif %}
	{% endif %}
	<input type="hidden" name="id" id="product-select" value="{{ product.variants[0].id }}" />
	<label>Quantity</label>
	<input type="text" name="quantity" id="quantity" value="1" onclick="this.select()" />
	<button type="submit">add to cart</button>
</form>

<script>
	function optionSelect() {
		{% if product.options[0] %}var opt1 = document.getElementById('select-one').value;{% endif %}
		{% if product.options[1] %}var opt2 = document.getElementById('select-two').value;{% endif %}
		{% if product.options[2] %}var opt3 = document.getElementById('select-three').value;{% endif %}
		var id = '';
		{% for v in product.variants %}
			if(opt1=="{{ v.option1 }}"{% if product.options[1] %} && opt2=="{{ v.option2 }}"{% endif %}{% if product.options[2] %} && opt3=="{{ v.option3 }}"{% endif %}) {
				var id = "{{ v.id }}";
				var price = "{{ v.price | money }}";
				{% if v.featured_image %}
					document.getElementById('img').src = "{{ v.featured_image | img_url:'grande' }}";
					document.getElementById('link').href= "{{ v.featured_image | img_url:'1024x1024' }}";
				{% endif %}
			}
		{% endfor %}
		if(id!='') {
			document.getElementById('product-select').value = id;
			document.getElementById('price').innerHTML = price;
		} else {
			document.getElementById('product-select').value = '';
			document.getElementById('price').innerHTML = 'Unavailable';
		}
	}
</script>
