{% assign s1 = settings.show1 %}
{% assign s2 = settings.show2 %}
{% assign s3 = settings.show3 %}
{% assign s4 = settings.show4 %}
{% assign s5 = settings.show5 %}

{% assign l1 = settings.link1 %}
{% assign l2 = settings.link2 %}
{% assign l3 = settings.link3 %}
{% assign l4 = settings.link4 %}
{% assign l5 = settings.link5 %}

<div id="slideshow">
	<div id="slider1">
		{% if s1 == true %}<div>{% if l1 == "" %}{{ 'slide1.jpg' | asset_url | img_tag }}{% else %}{{ 'slide_1.jpg' | asset_url | img_tag | link_to: l1 }}{% endif %}</div>{% endif %}
		{% if s2 == true %}<div class="hide">{% if l2 == "" %}{{ 'slide2.jpg' | asset_url | img_tag }}{% else %}{{ 'slide2.jpg' | asset_url | img_tag | link_to: l2 }}{% endif %}</div>{% endif %}
		{% if s3 == true %}<div class="hide">{% if l3 == "" %}{{ 'slide3.jpg' | asset_url | img_tag }}{% else %}{{ 'slide3.jpg' | asset_url | img_tag | link_to: l3 }}{% endif %}</div>{% endif %}
		{% if s4 == true %}<div class="hide">{% if l4 == "" %}{{ 'slide4.jpg' | asset_url | img_tag }}{% else %}{{ 'slide4.jpg' | asset_url | img_tag | link_to: l4 }}{% endif %}</div>{% endif %}
		{% if s5 == true %}<div class="hide">{% if l5 == "" %}{{ 'slide5.jpg' | asset_url | img_tag }}{% else %}{{ 'slide5.jpg' | asset_url | img_tag | link_to: l5 }}{% endif %}</div>{% endif %}
	</div>
	<div id="narrative">
		{% assign article = pages.home %}
		{% if article.content != "" %}	
			{{ article.title }}
			{{ article.content }}
		{% endif %}
	</div>
	<div id="thumbs">
</div>