<footer>
	{% form 'customer', novalidate: 'novalidate' %}
		{%- if form.posted_successfully? -%}
			<p>{{ 'general.newsletter_form.confirmation' | t }}</p>
		{%- endif -%}
		<input type="hidden" name="contact[tags]" value="newsletter">

		<input type="email" name="contact[email]"
			id="newsletter-email"
			value="{{ form.email }}"
			required
			autocorrect="off"
			autocapitalize="off"
			{% if form.errors %}
				aria-invalid="true"
				aria-describedby="newsletter-email-error"
			{% endif %}>
			<button type="submit">Sign up</button>

		{% if form.errors contains 'email' %}
			<p>Error: {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</p>
		{% endif %}
	{% endform %}

	&copy; {{ 'now' | date: "%Y" }} {{ shop.name }} | Sourdough starter theme by <a href="http://hardage-hardage.com">Zak Hardage</a>
</footer>
