<h1>Account Details and order history</h1>

<p>{{ customer.name }}<br />{{ customer.email }}</p>

{% assign default = customer.default_address %}
{% if default.address1 != blank %}
	<p>{{ default.address1 }}<br />
	{% if default.address2 != blank %}<p>{{ default.address2 }}<br />{% endif %}
	{% if default.city != blank %}
		<p>{{ default.city }}{% if default.province_code != blank %}, {{ default.province_code }}{% endif %}{% if default.zip != blank %} {{ default.zip }}{% endif %}<br />
	{% endif %}
	{% if default.country != blank %}<p>{{ default.country }}<br />{% endif %}
	{% if default.phone != blank %}<p>{{ default.phone }}</p>{% endif %}
	<p><a href="{{ routes.account_addresses_url }}">Account addresses</a></p>
{% endif %}

{% if customer.orders.size > 0 %}
	<table>
		<tr>
			<th>Order</th>
			<th>Date</th>
			<th>Status</th>
			<th>Total</th>
		</tr>
		{% for order in customer.orders %}
			<tr>
				<td>{{ order.name | link_to:order.customer_url }}</td>
				<td>{{ order.created_at | date:"%b %d, %Y" }}</td>
				<td>{{ order.financial_status }}/{{ order.fulfillment_status }}</td>
				<td>{{ order.total_price | money | remove:' ' }}</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}
