<div class="accounts">

	<h1>Account details and order history</h1>

{{ customer.default_address | format_address }}
<p>
	<a href="{{ routes.account_addresses_url }}">Account addresses</a>
</p>
<p>
	<a href="{{ routes.account_logout_url }}">Log out</a>
</p>


	{% if customer.orders.size > 0 %}
		<table>
			<tr>
				<th>Order</th>
				<th>Date</th>
				<th>Status</th>
				<th>Total</th>
			</tr>
			{% for order in customer.orders %}
				<tr>
					<td data-label="order">
						{{ order.name | link_to:order.customer_url }}
					</td>
					<td data-label="date">
						{{ order.created_at | date:"%m/%d/%Y" }}
					</td>
					<td data-label="payment status">
						{{ order.financial_status }} / {{ order.fulfillment_status }}
					</td>
					<td data-label="total">
						{{ order.total_price | money | remove:' ' }}
					</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}

		<div class="rte">
			<p>You haven't placed any orders yet.</p>
		</div> <!-- end .rte -->

	{% endif %}

</div> <!-- end .accounts -->
