<div class="info rte">

<h1>Addresses</h1>
<p>Shipping Addresses</p>

<div class="add-new-address">
	{% form 'customer_address', customer.new_address %}
		<label for="address[first_name]">First Name</label>
		<input type="text" name="address[first_name]" value="{{ form.first_name }}" />
		<label for="address[last_name]">Last Name</label>
		<input type="text" name="address[last_name]" value="{{ form.last_name }}" />
		<label for="address[company]">Company</label>
		<input type="text" name="address[company]" value="{{ form.company }}" />
		<label for="address[address1]">Address</label>
		<input type="text" name="address[address1]" value="{{ form.address1 }}" />
		<label for="address[address2]">Address 2</label>
		<input type="text" name="address[address2]" value="{{ form.address2 }}" />
		<label for="address[city]">City</label>
		<input type="text" name="address[city]" value="{{ form.city }}" />
		<label for="address[country]">Country</label>
		<input type="text" name="address[country]" value="{{ form.country }}" />
		<label for="address[state]">State</label>
		<input type="text" name="address[province]" value="{{ form.province }}" />
		<label for="address[zip]">Zip</label>
		<input type="text" name="address[zip]" value="{{ form.zip }}" />
		<label for="address[phone]">Phone</label>
		<input type="text" name="address[phone]" value="{{ form.phone }}" />
		<label for="address[default_checkbox]">Set as default address</label>
		{{ form.set_as_default_checkbox }}
		<button type="submit">Add address</button>
	{% endform %}
</div> <!-- end .add-new-address -->

{% paginate customer.addresses by customer.addresses.size %}
	{% for address in customer.addresses %}
		<div class="address">
			{{ address.first_name }} {{ address.last_name }}{% if address == customer.default_address %} (Default){% endif %}<br />
			{% if address.company != blank %}{{ address.company }}<br>{% endif %}
			{{ address.street }}<br>
			{{ address.city }}, {{ address.province_code }} {{ address.zip }}<br>
			{{ address.country }}<br>
			{% if address.phone != blank %}{{ address.phone }}<br />{% endif %}
			<a href="javascript:void(0)" class="edit" data-id="{{ address.id }}">Edit</a><br />
			{{ 'Delete' | delete_customer_address_link:address.id }}
		</div> <!-- end .address -->

		<div class="edit-address" id="edit_address_{{ address.id }}">
			{% form 'customer_address', address %}
				<p>Edit Address</p>
				<label for="address[first_name]">First Name</label>
				<input type="text" name="address[first_name]" value="{{ form.first_name }}" />
				<label for="address[last_name]">Last Name</label>
				<input type="text" name="address[last_name]" value="{{ form.last_name }}" />
				<label for="address[company]">Company</label>
				<input type="text" name="address[company]" value="{{ form.company }}" />
				<label for="address[address1]">Address</label>
				<input type="text" name="address[address1]" value="{{ form.address1 }}" />
				<label for="address[address2]">Address 2</label>
				<input type="text" name="address[address2]" value="{{ form.address2 }}" />
				<label for="address[city]">City</label>
				<input type="text" name="address[city]" value="{{ form.city }}" />
				<label for="address[country]">Country</label>
				<input type="text" name="address[country]" value="{{ form.country }}" />
				<label for="address[province]">State</label>
				<input type="text" name="address[province]" value="{{ form.province }}" />
				<label for="address[zip]">Zip</label>
				<input type="text" name="address[zip]" value="Zip" />
				<label for="address[phone]">Phone</label>
				<input type="text" name="address[phone]" value="{{ form.phone }}" />
				<label for="address[default_checkbox]">Set as default address</label>
				{{ form.set_as_default_checkbox }}
				<button type="submit">Add address</button>
			{% endform %}
		</div><!-- end #edit_address_{{ address.id }} -->
	{% endfor %}
	<a href="javascript:void(0)" class="add-new">Add new address</a>
{% endpaginate %}

</div> <!-- end .info -->
