Order {{ order.name }}

{% if order.cancelled %}
  Order Cancelled on {{ order.cancelled_at | date: "%B %d, %Y %I:%M%p" }}
  {{ order.cancel_reason }}
{% endif %}

Placed on {{ order.created_at | date: "%B %d, %Y %I:%M%p" }}

Billing Address
<p>Payment Status: {{ order.financial_status }}</p>
<p>{{ order.billing_address.name }}</p>
<p>{{ order.billing_address.company }}</p>
<p>{{ order.billing_address.street }}</p>
<p>{{ order.billing_address.city }}, {{ order.billing_address.province }}</p>
<p>{{ order.billing_address.country }} {{ order.billing_address.zip }}</p>
<p>{{ order.billing_address.phone }}</p>

{% if order.shipping_address %}
Shipping Address
<p>Fulfillment Status: {{ order.fulfillment_status }}</p>
<p>{{ order.shipping_address.name }}</p>
<p>{{ order.shipping_address.company }}</p>
<p>{{ order.shipping_address.street }}</p>
<p>{{ order.shipping_address.city }}, {{ order.shipping_address.province }}</p>
<p>{{ order.shipping_address.country }} {{ order.shipping_address.zip }}</p>
<p>{{ order.shipping_address.phone }}</p>
{% endif %}

<table>
	<thead>
		<tr>
			<th>Product</th>
			<th>SKU</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		{% for line_item in order.line_items %}
			<tr id="{{ line_item.id }}" class="{% cycle 'odd', 'even' %}">
				<td class="product">
					{{ line_item.title | link_to: line_item.product.url }} 
					{% if line_item.fulfillment %}
						Fulfilled {{ line_item.fulfillment.created_at | date: "%b %d" }} 
						{% if line_item.fulfillment.tracking_number %}
							<a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
						{% endif %}
					{% endif %}
				</td>
				<td class="sku note">{{ line_item.sku }}</td>
				<td class="money">{{ line_item.price | money }}</td>
				<td class="quantity cente">{{ line_item.quantity }}</td>
				<td class="total money">{{ line_item.quantity | times: line_item.price | money }}</td>
			</tr>
		{% endfor %}
	</tbody>  
	<tfoot>
		<tr>
			<td>Subtotal:</td>
			<td>{{ order.subtotal_price | money }}</td>
		</tr>   

		{% for discount in order.discounts %}
			<tr>
				<td>{{ discount.code }} Discount:</td>
				<td>{{ discount.savings | money }}</td>
			</tr>
		{% endfor %}

		{% for shipping_method in order.shipping_methods %}
			<tr>
				<td>Shipping ({{ shipping_method.title }}):</td>
				<td>{{ shipping_method.price | money }}</td>
			</tr>
		{% endfor %}

		{% for tax_line in order.tax_lines %}
			<tr>
				<td>Tax ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%):</td>
				<td>{{ tax_line.price | money }}</td>
			</tr>
		{% endfor %}    

		<tr>
			<td>Total:</td>
			<td>{{ order.total_price | money }} {{ order.currency }}</td>
		</tr>   
	</tfoot>  
</table>