<!DOCTYPE html> 
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		{% case template %}
			{% when 'index' %} <title>{{ shop.name }} | {{ page_title }}</title>
			{% when '404' %} <title>Page Not Found | {{ shop.name }}</title>
			{% else %} <title>{{ page_title }} | {{ shop.name }}</title>
		{% endcase %}
		<meta name="description" content="{% if page_description %}{{ page_description }}{% else %}{{ shop.name }}{% endif %}" />
		<link rel="canonical" href="{{ canonical_url }}">
		<meta name="viewport" content="width=device-width">
		<link rel="icon" type="image/png" href="{{ 'favicon.png' | asset_url }}" />
		{{ 'stylesheet.css' | asset_url | stylesheet_tag }}
		{{ https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" | script_tag }}
		{% include 'opengraph' %}
		{% include 'twitter-card' %}
		{% if template == 'index' %} {% comment %} BXSLIDER http://bxslider.com/ {% endcomment %}
			{{ 'jquery.bxslider.min.js' | asset_url | script_tag }}
			<script type="text/javascript">
			    $(document).ready(function(){
				  	jQuery('.bxslider').bxSlider({

					});
				});
		    </script>
		{% endif %}
		{% if template contains 'product' %} {% comment %} LIGHTBOX http://lokeshdhakar.com/projects/lightbox2 {% endcomment %}
			{{ 'lightbox.css' | asset_url | stylesheet_tag }}
			{{ 'jquery-1.10.2.min.js' | asset_url | script_tag }}
			{{ 'lightbox-2.6.min.js' | asset_url | script_tag }}
		{% endif %}
		{{ content_for_header }}
	</head>
	<body class="{{ template | handle }} {% if template contains 'product' %}product{% endif %} {% if template contains 'collection' %}collection{% endif %} {% if template contains 'customer' %}customer{% endif %} {% if template contains 'page' %}page{% endif %}">
		{% include 'header' %}
		{{ content_for_layout }}
		{% include 'footer' %}
	</body>
</html>
