<!doctype html>
<html lang="{{ request.locale.iso_code }}">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="{% if page_description %}{{ page_description }}{% else %}{{ shop.name }}{% endif %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="canonical" href="{{ canonical_url }}" />
		<link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
		<title>{{ page_title }}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
		{% include 'theme-styles' %}
		{% include 'theme-scripts-header' %}
		{% include 'theme-social' %}
		{{ content_for_header }}
	</head>
	<body class="{{ request.page_type | handle | split:'-' | first }}">
		{% include 'theme-scripts-body' %}
		<a class="visuallyhidden" href="#main">Skip to content</a>
		{% include 'theme-header' %}
		<main id="main">
			{{ content_for_layout }}
		</main> <!-- end #main -->
		{% include 'theme-footer' %}
		{% include 'theme-scripts-footer' %}
	</body>
</html>
