<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="{% if page_description %}{{ page_description }}{% else %}{{ shop.name }}{% endif %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="canonical" href="{{ canonical_url }}" />
		<link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
		<title>{{ page_title }}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
		{{ 'styles.css' | asset_url | stylesheet_tag }}
		{% include 'social' %}
		{{ content_for_header }}
	</head>
	<body class="{{ template | handle }}">
		{% include 'header' %}
		{{ content_for_layout }}
		{% include 'footer' %}
		{% include 'scripts' %}
	</body>
</html>
