<!DOCTYPE html> 
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		{% case template %}
			{% when 'index' %} <title>{{ shop.name }} | {{ page_title }}</title>
			{% when '404' %} <title>Page Not Found | {{ shop.name }}</title>
			{% else %} <title>{{ page_title }} | {{ shop.name }}</title>
		{% endcase %}
		<meta name="description" content="{% if page_description %}{{ page_description }}{% else %}{{ shop.name }}{% endif %}" />
		<link rel="canonical" href="{{ canonical_url }}">
		<meta name="viewport" content="width=device-width">
		<link rel="icon" type="image/png" href="{{ 'favicon.png' | asset_url }}" />
		{{ 'javascript.js' | asset_url | script_tag }}
		{{ 'stylesheet.scss.css' | asset_url | stylesheet_tag }}
		{% include 'fb-opengraph' %}
		{% include 'twitter-card' %}
		{% if template == 'index' %} {% comment %} BXSLIDER http://bxslider.com/ {% endcomment %}
			{{ 'https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js' | script_tag }}
			{{ 'jquery.bxslider.min.js' | asset_url | script_tag }}
			<script type="text/javascript">
			    $(document).ready(function(){
				  	jQuery('.bxslider').bxSlider({
						pause:{{ settings.duration }}000,
						pager:false,
						controls:false
					});
				});
		    </script>
		{% endif %}
		{% if template contains 'product' %} {% comment %} LIGHTBOX http://lokeshdhakar.com/projects/lightbox2 || SHARETHIS http://www.sharethis.com {% endcomment %}
			{{ 'lightbox.css' | asset_url | stylesheet_tag }}
			{{ 'jquery-1.10.2.min.js' | asset_url | script_tag }}
			{{ 'lightbox-2.6.min.js' | asset_url | script_tag }}
			<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
			<script type="text/javascript">stLight.options({publisher: "ur-15b2a5c4-78b0-49-7c4f-4a64e8db32a", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
		{% endif %}
		{{ content_for_header }}
	</head>
	<body class="{{ template | handle }} {% if template contains 'product' %}product{% endif %} {% if template contains 'collection' %}collection{% endif %} {% if template contains 'customer' %}customer{% endif %} {% if template contains 'page' %}page{% endif %}">
		{% include 'header' %}
		{% include 'sidebar' %}
		{{ content_for_layout }}
		{% include 'footer' %}
	</body>
	{% if template contains 'customers' %}
	    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
	    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
	{% endif %}
</html>