<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
		<meta charset="utf-8" />
		<title>{{ page_title }}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
		<meta name="description" content="{% if page_description %}{{ page_description }}{% else %}{{ shop.name }}{% endif %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="canonical" href="{{ canonical_url }}" />
		{{ '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' | asset_url | stylesheet_tag }}
		{{ 'stylesheet.css' | asset_url | stylesheet_tag }}
		{% if template contains 'product' %}{{ 'lightbox.min.css' | asset_url | stylesheet_tag }}{% endif %}
		{% include 'social' %}
		{{ content_for_header }}
	</head>
	<body class="{{ template | handle }} {% if template contains 'product' %}product{% endif %} {% if template contains 'collection' %}collection{% endif %} {% if template contains 'customer' %}customer{% endif %} {% if template contains 'page' %}page{% endif %} {% if template contains 'article' %}blog{% endif %}">
		{% include 'header' %}
		{{ content_for_layout }}
		{% include 'footer' %}
		{% include 'scripts %}
	</body>
</html>