<h1>{{ collection.title }}</h1>
<div class="rte">
	{{ collection.description }}
</div> <!-- end .rte -->

{% if template == 'collection' %}
	{% assign paginate_by = section.settings.range %}
{% elsif template == 'collection.all' %}
	{% assign paginate_by = collection.all_products_count %}
{% endif %}

{% paginate collection.products by paginate_by %}
	{% for product in collection.products %}
		<a href="{{ product.url | within:collection }}">
			{{ product.images[0] | img_url:'500x' | img_tag:product.title }}
			{{ product.title }}
			{{ product.price | money | remove:' ' }}
		</a>
	{% endfor %}
	{% if template == 'collection' %}
		{% include 'collection-pagination' %}
	{% elsif template == 'collection.all' %}
		<a href="/collections/{{ collection.handle }}">View by {{ section.settings.range }}</a>
	{% endif %}
{% endpaginate %}


{% schema %}
	{"name":"Collection", "settings":[
		{"type":"range", "id":"range", "label":"Number of products to display", "min":3, "max":30, "step":3, "default":12},
  ]}
{% endschema %}
