{% comment %} bxSlider
	https://bxslider.com
{% endcomment %}

<div class="slider">
	{% for block in section.blocks %}

		{% assign image = block.settings.image | img_url:'1200x' | scale:2 %}
		{% assign image_mobile = block.settings.image-mobile | img_url:'600x' | scale:2 %}

		{% if block.settings.url != blank %}<a href="{{ block.settings.url }}">{% endif %}

		<picture>
			<source srcset="{{ image }}" media="(min-width: 600px)" />
			<img 
				src="{% if block.settings.image-mobile != blank %}{{ image_mobile }}{% else %}{{ image }}{% endif %}" 
				alt="{{ block.settings.image.alt }}" />
		</picture>

		{% if block.settings.url != blank %}</a>{% endif %}

	{% endfor %}
</div> <!-- end .slider -->

{% if section.blocks.size > 1 %}
	<div class="pager">
		{% for block in section.blocks %}
			<a data-slide-index="{{ forloop.index | minus:1 }}" aria-label="slide {{ forloop.index }}"></a>
		{% endfor %}
	</div> <!-- end .pager -->
{% endif %}

{{ 'bxslider.js' | asset_url | script_tag }}
<script>
	$(document).ready(function(){
		$('.slider').bxSlider({
			mode:'horizontal',
			auto:{{ section.settings.auto }},
			speed:{{ section.settings.speed | times:1000 }},
			pause:{{ section.settings.pause | times:1000 }},
			controls:false,
			adaptiveHeight:true,
			pagerCustom:'.pager'
		});
	});
</script>

{% schema %}
	{"name":"Slideshow", "max_blocks":5, "blocks":[
    {"type":"slide", "name":"Slide", "settings":[
			{"type":"image_picker", "id":"image", "label":"Image", "info":"1200px wide and consistent height (2400px for 2x"},
			{"type":"image_picker", "id":"image-mobile", "label":"Mobile image", "info":"600px wide and consistent height (1200px for 2x"},
			{"type":"url", "id":"url", "label":"Link", "info":"(optional)"}
    ]}
  ], "settings":[
		{"type":"header", "content":"Slideshow operation"},
		{"type":"checkbox", "id":"auto", "label":"Auto", "info":"Slides will automatically transition", "default":false},
		{"type":"range", "id":"speed", "label":"Speed", "step":0.1, "min":0.5, "max":1, "info":"Slide transition duration (in seconds)", "default":0.7},
		{"type":"range", "id":"pause", "label":"Duration", "step":1, "min":1, "max":10, "info":"The amount of time (in seconds) between each auto transition", "default":6}
	], 
	"presets":[{"name":"Slideshow", "category":"Home page", "blocks":[{"type":"slide"}]}],
	"templates":["index"]
}
{% endschema %}
