{% assign image = section.settings.image | img_url:'1200x' | scale:2 %}
{% assign image_mobile = section.settings.image-mobile | img_url:'600x' | scale:2 %}

{% if section.settings.url != blank %}<a href="{{ section.settings.url }}">{% endif %}

<picture>
  <source srcset="{{ image }}" media="(min-width: 600px)" />
  <img 
    src="{% if section.settings.image-mobile != blank %}{{ image_mobile }}{% else %}{{ image }}{% endif %}" 
    alt="{{ section.settings.image.alt }}" />
</picture>

{% if section.settings.url != blank %}</a>{% endif %}


{% schema %}
	{"name":"Hero image", "class":"hero", "settings":[
		{"type":"image_picker", "id":"image", "label":"Image", "info":"1200px wide"},
		{"type":"image_picker", "id":"image-mobile", "label":"Mobile image", "info":"600px wide"},
		{"type":"url", "id":"url", "label":"Link", "info":"(optional)"}
  ], 
  "presets":[{"name":"Hero image", "category":"Home page"}],
  "templates":["index"]

}
{% endschema %}
