
{% assign image = section.settings.image | img_url:'1200x', scale:2 %}
{% assign image_mobile = section.settings.image-mobile | img_url:'600x', scale:2 %}
{% assign url = section.settings.url %}

{% if url != blank %}<a href="{{ url }}">{% endif %}

<picture>
  <source media="(max-width: 600px)" srcset="{% if section.settings.image_mobile != blank %}{{ image_mobile }}{% else %}{{ image }}{% endif %}">
  <source media="(min-width: 601px)" srcset="{{ image }}">
  <img src="{{ image }}" alt="{{ section.settings.image.alt }}">
</picture>

{% if url != blank %}</a>{% endif %}


{% schema %}
	{"name":"Hero image", "class":"hero", "settings":[
		{"type":"image_picker", "id":"image", "label":"Image", "info":"1200px wide"},
		{"type":"image_picker", "id":"image-mobile", "label":"Mobile image", "info":"600px wide"},
		{"type":"url", "id":"url", "label":"Link", "info":"(optional)"}
  ], "presets":[{"name":"Hero image", "category":"Home page"}]
}
{% endschema %}
