<h1>Cart</h1>

{% form 'cart', cart %}
	<table>
		<thead>
			<tr>
				<th>Item</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Remove</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			{% for item in cart.items %}

				<tr>

					<td data-label="item">
						<a href="{{ item.url }}">
							{{ item.image | img_url:'500x', scale:2, crop:'center' | img_tag:item.image.alt }}
							{{ item.title }}
						</a>
						<a href="{{ item.url }}"></a>
						{% for p in item.properties %}
							{% unless p.last == blank %}
								<br />
								{{ p.first }}: {{ p.last }}
							{% endunless %}
						{% endfor %}
					</td> <!-- end td:item -->

					<td>
            {{ item.price | money | remove:' ' }}
          </td>

					<td>
            <input type="text" name="updates[{{ item.id }}]" id="updates_{{ item.id }}" value="{{ item.quantity }}" />
          </td>

					<td>
            <a href="/cart/change?line={{ forloop.index }}&quantity=0">Remove</a>
          </td>

					<td>
            {{ item.line_price | money | remove:' ' }}
          </td>
				</tr>

			{% endfor %}
		</tbody>
	</table>
	<p>Cart Total: {{ cart.total_price | money | remove:' ' }}</p>
	<button type="submit" name="update">Update</button>
	<button type="submit" name="checkout">Checkout</button>
{% endform %}