<h1>{{ article.title }}</h1>

<div itemscope itemtype="http://data-vocabulary.org/Person">
	by <span itemprop="name">{{ article.author }}</span>
	{% if gravatar %}<img itemprop="photo" src="http://www.gravatar.com/avatar/{{ settings.gravatar_email | remove: ' ' | strip_newlines | downcase | md5 }}" />{% endif %}
</div> <!-- end itemscope -->
Posted on {{ article.created_at | date: "%B %d, '%y" }}

<div class="rte">
	{{ article.content }}
</div> <!-- end .rte -->

{% if article.comments_enabled? %}
	<div id="comments_div">
		<h2>{{ article.comments_count }} {{ article.comments_count | pluralize:'Comment','Comments' }}:</h2>
		{% paginate article.comments by 50 %}
			{% for comment in article.comments %}
				<p class="author"><img src="http://www.gravatar.com/avatar/{{ comment.email | remove: ' ' | strip_newlines | downcase | md5 }}" /> {{ comment.author }} says:</p>
				<div class="comment">{{ comment.created_at | date:"%d %b %Y" }}: {{ comment.content }}</div> <!-- end .comment -->
			{% endfor %}
			{% if paginate.pages > 1 %}
				<div class="rte">{{ paginate | default_pagination }}</div>
			{% endif %}
		{% endpaginate %}

		{% form article %}
			<h2>Leave a comment</h2>
			{% if blog.moderated? %}
				<h3>note: all comments are reviewed before they are published</h3>
			{% endif %}

			{% if form.posted_successfully? %}
				{% if blog.moderated? %}
					<div class="comment-note">
						Successfully posted your comment.<br />
						It will have to be approved by the blog owner first before showing up.
					</div> <!-- end .comment-note -->
				{% else %}
					<div class="comment-note">Successfully posted your comment.</div> <!-- end .comment-note -->
				{% endif %}
			{% endif %}
			{% if form.errors %}
				<div class="comment-note">Not all the fields have been filled out correctly!</div> <!-- end .comment-note -->
			{% endif %}
			<input type="text" name="comment[author]" placeholder="name" value="{% if form.author %}{{ form.author }}{% endif %}" class="{% if form.errors contains 'author' %}input-error{% endif %}" onclick="this.select()" />
			
			<input type="text" name="comment[email]" placeholder="email address" value="{% if form.email %}{{ form.email }}{% endif %}" class="{% if form.errors contains 'email' %}input-error{% endif %}" onclick="this.select()" />
			
			<textarea name="comment[body]" cols="40" rows="5" class="{% if form.errors contains 'body' %}input-error{% endif %}" onclick="this.select()" placeholder="comment">{% if form.body != blank %}{{ form.body }}{% endif %}</textarea>
			<button type="submit">submit comment</button>
		{% endform %}
	</div> <!-- end #comments -->
{% endif %}