<h1>Cart</h1>
<form action="/cart" method="post">
	<table>
		<tr>
			<th>Item</th>
				<th class="desktop"></th>
				<th>Price</th>
				<th>Quantity</th>
				<th class="desktop">Remove</th>
				<th>Total</th>
			</tr>
			{% for item in cart.items %}
				<tr>
				<td class="desktop"><a href="{{ item.product.url }}">{{ item.product.images[0] | product_img_url:'small' | img_tag:item.title }}</a></td>
				<td>
					<a href="{{ item.product.url }}">{{ item.title }}</a>
					{% for p in item.properties %}{% unless p.last == blank %}<br />{{ p.first }}: {{ p.last }}{% endunless %}{% endfor %}
				</td>
				<td>{{ item.price | money | remove:' ' }}</td>
				<td>
					<input type="text" name="updates[{{ item.variant.id }}]" id="updates_{{ item.variant.id }}" value="{{ item.quantity }}" onclick="this.select()" />
					<span class="mobile"><a href="/cart/change?line={{ forloop.index }}&quantity=0">remove</a></span>
				</td>
				<td class="desktop"><a href="/cart/change?line={{ forloop.index }}&quantity=0">remove</a></td>
				<td class="desktop">{{ item.line_price | money | remove:' ' }}</td>
				</tr>
			{% endfor %}
	</table>
	Cart Total: {{ cart.total_price | money | remove:' ' }}
	<button type="submit" name="update">Update</button>
	<button type="submit" name="checkout">Checkout</button>
</form>
