<h1>{{ collection.title }}</h1>
{{ collection.description }}


{% paginate collection.products by 12 %}
	{% for product in collection.products %}
		<a href="{{ product.url | within:collection }}">
			{{ product.images[0] | img_url:'500x' | img_tag:product.title }}
			{{ product.title }}
			{{ product.price | money | remove:' ' }}
		</a>
	{% endfor %}
	{% include 'pagination' %}
{% endpaginate %}
