{% include 'slideshow' %}

{% assign article = pages.frontpage %}
{% unless article.content == "" %}	
	{{ article.content }}
{% endunless %}

Featured Products
{% for product in collections.frontpage.products limit:3 %}
	<a href="{{ product.url | within:collection }}">
		{{ product.featured_image | product_img_url:'large' | img_tag:product.title }}
		{{ product.title }}
		{{ product.price | money }}
	</a>
{% endfor %}

