{% paginate collections by 12 %}

Collections
<table>
	{% tablerow collection in collections cols:3 %}
		{% if collection.products_count > 0 %}
			<a href="{{ collection.url }}">
				{% if collection.image %}
					{{ collection.image.src | collection_img_url:'medium' | img_tag }}
				{% else %}
					{{ collection.products[0].featured_image | product_img_url:'medium' | img_tag }}
				{% endif %}
				{{ collection.title }}
			</a>
		{% endif %}
	{% endtablerow %}
</table>
{% if paginate.pages > 1 %}
	{{ default_paginateion }}
{% endif %}

{% endpaginate %}

