<h1>{{ page.title }}</h1>

<div class="rte">
  {{ page.content }}
</div> <!-- end .rte -->

{% form 'contact' %}
  
  {% if form.errors %}
    {% for field in form.errors %}
      <p>{{ field }}: {{ form.errors.messages[field] }}</p>
    {% endfor %}
  {% endif %}

	<label for="contact_name">Name</label>
	<input id="contact_name" type="text" name="contact[name]" value="{{ contact.fields.name }}" />

	<label for="contact_email">Email</label>
  <input id="contact_email" type="text" name="contact[email]" value="{{ contact.fields.email }}" />

	<label for="contact_message">Message</label>
  <textarea id="contact_message" name="contact[body]" rows="20" cols="20">{{ contact.fields.body }}</textarea>

  <button type="submit">Send</button>

  {% if form.posted_successfully? %}
    <p>Thanks for contacting us! We&rsquo;ll get back to you soon.</p>
  {% endif %}

{% endform %}
