{{ product.title }}

<img id="featured_img" rel="lightbox" src="{{ product.featured_image | product_img_url: 'grande' }}" alt="{{ product.title | escape }}" />

{% for image in product.images %}
	<a href="#{{ forloop.index }}" onclick="alt_images('{{ image | product_img_url: 'grande' }}');">{{ image | product_img_url: 'small' | img_tag: product.title }}</a>
{% endfor %}

{{ product.description }}
<p id="price-field">{{ product.price | money }}</p>

<form action="/cart/add" method="post">
	{% if product.variants.size > 1 %}
		<select id="product-select" name="id">
			{% for variant in product.variants %}
				<option value="{{ variant.id }}">{{ variant.title }}</option>
			{% endfor %}
		</select>
	{% else %}
		<input type="hidden" value="{{ product.variants.first.id }}" name="id" />
	{% endif %}
	<button type="submit">add to cart</button>
</form>

<!-- share this icons -->
<span class='st_facebook_custom'></span>
<span class='st_twitter_custom'></span>
<span class='st_pinterest_custom'></span>


{% if collection.handle.size > 0 and collection.all_products_count > 1 %}
	Related Products
	{% assign curProduct = product.handle %}
	{% assign loopCount = 0 %}
	{% for product in collection.products %}
		{% unless product.handle == curProduct or loopCount == 3 %}
			<a href="{{ product.url | within: collection}}">{{ product.featured_image | product_img_url: 'medium' | img_tag }}</a>
			{% assign loopCount = loopCount | plus: 1 %}
		{% endunless %}
	{% endfor %}
{% endif %}

