<div itemscope itemtype="http://schema.org/Product">
	<meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
	<meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}">
  	<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
	    <h1 itemprop="name">{{ product.title }}</h1>
		<meta itemprop="priceCurrency" content="{{ shop.currency }}">       
		<link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
		{% include 'product-images' %}
		<div itemprop="description" class="rte">{{ product.description }}</div> <!-- end .rte itemprop="description" -->
		<p id="price" itemprop="price">{{ product.price | money }}</p>
		{% include 'product-form' %}
		{% include 'product-share' %}
		{% include 'cross-sell' %}
	</div> <!-- end itemprop offers -->
</div> <!-- end itemscope -->

{% comment %}image pre-loader{% endcomment %}
{% for image in product.images offset:1 %}
	<a href="{{ image | product_img_url:'master' }}" data-lightbox="{{ product.title | handle }}" class="hidden">
		<img src="{{ image | product_img_url:'grande' }}" alt="{{ shop.name }}" />
	</a>
{% endfor %}

