<div itemscope itemtype="http://schema.org/Product">
	<meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
	<meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}">
  	<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
	    <h1 itemprop="name">{{ product.title }}</h1>
		<meta itemprop="priceCurrency" content="{{ shop.currency }}">       
		<link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
		{% include 'product-images' %}
		<div itemprop="description" class="rte">{{ product.description }}</div> <!-- end .rte itemprop="description" -->
		<p id="price" itemprop="price">{{ product.price | money }}</p>
		{% include 'product-form' %}
		{% include 'product-share' %}
		{% include 'cross-sell' %}
	</div> <!-- end itemprop offers -->
</div> <!-- end itemscope -->

{% comment %}image pre-loader{% endcomment %}
{% for image in product.images %}<img src="{{ image | product_img_url:'grande' }}" alt="hidden" style="display:none" />{% endfor %}

<script>
	function alt_images(src,href) {
		document.getElementById("img").src = src;
		document.getElementById("link").href = href;
	}
	function optionSelect() {
		{% if product.options[0] %}var opt1 = document.getElementById('select-one').value;{% endif %}
		{% if product.options[1] %}var opt2 = document.getElementById('select-two').value;{% endif %}
		{% if product.options[2] %}var opt3 = document.getElementById('select-three').value;{% endif %}
		var id = '';
		{% for v in product.variants %}
			if(opt1=="{{ v.option1 }}"{% if product.options[1] %} && opt2=="{{ v.option2 }}"{% endif %}{% if product.options[2] %} && opt3=="{{ v.option3 }}"{% endif %}) {
				var id = "{{ v.id }}";
				var price = "{{ v.price | money }}";
				{% if v.featured_image %}
					document.getElementById('img').src = "{{ v.featured_image | img_url:'grande' }}";
					document.getElementById('link').href= "{{ v.featured_image | img_url:'1024x1024' }}";
				{% endif %}
			}
		{% endfor %}
		if(id!='') {
			document.getElementById('product-select').value = id;
			document.getElementById('price').innerHTML = price;
		} else {
			document.getElementById('product-select').value = '';
			document.getElementById('price').innerHTML = 'Unavailable';
		}
	}
</script>