<div itemscope itemtype="http://data-vocabulary.org/Product">
	<h1 itemprop="name">{{ product.title }}</h1>

	<a id="link" href="{{ product.featured_image | product_img_url:'1024x1024' }}" data-lightbox="{{ product.title | handle }}"><img itemprop="image" id="img" src="{{ product.featured_image | product_img_url:'grande' }}" alt="{{ product.title | escape }}" /></a>

	{% for image in product.images %}
		<a href="#{{ forloop.index }}" onclick="alt_images('{{ image | product_img_url:'grande' }}','{{ image | product_img_url:'1024x1024' }}');">{{ image | product_img_url:'small' | img_tag:product.title }}</a>
	{% endfor %}

	<div itemprop="description" class="rte">{{ product.description }}</div> <!-- end .rte itemprop="description" -->
	<p id="price">{{ product.price | money }}</p>

	{% include 'product-form' %}
	
	{% comment %}sharethis.com icons{% endcomment %}
	<span class='st_facebook_custom'></span>
	<span class='st_twitter_custom' st_via=''></span>
	<span class='st_pinterest_custom'></span>

	{% include 'cross-sell' %}

</div> <!-- end itemscope -->
{% comment %}image pre-loader{% endcomment %}
{% for image in product.images %}<img src="{{ image | product_img_url:'grande' }}" alt="hidden" style="display:none" />{% endfor %}

<script>
	function alt_images(src,href) {
		document.getElementById("img").src = src;
		document.getElementById("link").href = href;
	}
	function optionSelect() {
		{% if product.options[0] %}var opt1 = document.getElementById('select-one').value;{% endif %}
		{% if product.options[1] %}var opt2 = document.getElementById('select-two').value;{% endif %}
		{% if product.options[2] %}var opt3 = document.getElementById('select-three').value;{% endif %}
		var id = '';
		{% for v in product.variants %}
			if(opt1=="{{ v.option1 }}"{% if product.options[1] %} && opt2=="{{ v.option2 }}"{% endif %}{% if product.options[2] %} && opt3=="{{ v.option3 }}"{% endif %}) {
				var id = {{ v.id }};
				var price = "{{ v.price | money }}";
			}
		{% endfor %}
		if(id!='') {
			document.getElementById('product-select').value = id;
			document.getElementById('price').innerHTML = price;
		} else {
			document.getElementById('product-select').value = '';
			document.getElementById('price').innerHTML = 'Unavailable';
		}
	}
</script>