<h1>Search{% if search.results != blank %} results: {{ search.terms }}{% endif %}</h1>

{% paginate search.results by 10 %}
	{% if search.results_count > 0 %}
		<ol>
			{% for item in search.results %}    
				<li><a href="{{ item.url }}">{{ item.title }} &mdash; {{ item.content | strip_html | truncatewords: 10 }}</a></li>
			{% endfor %}
		</ol>
	{% elsif search.results != blank %}
		No results found.
	{% endif %}
	
	{% if paginate.pages > 1 %}
	    {{ paginate | default_pagination }}
	{% endif %}
	
{% endpaginate %}

{% if search.results != blank %}Search again:{% endif %}
<form id="search-form" name="search" action="/search">
	<input type="text" name="q" value="" />
	<button type="submit">Search</button>
</form>