<div class="info">
<h2>Search results: {{ search.terms }}</h2>
{% paginate search.results by 50 %}
	{% if search.results_count > 0 %}
		<table>
			{% for item in search.results %} 
				<tr>
					<td><a href="{{ item.url }}">{{ forloop.index }}. </a></td>
					<td><a href="{{ item.url }}">{% if item.featured_image %}{{ item.featured_image | item_img_url:'medium' | img_tag:item.title }}{% endif %}</a></td>
					<td><a href="{{ item.url }}"><strong>{{ item.title }}</strong><br />{{ item.content | strip_html | truncatewords:30 }}</a></td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>No results found.</p>
	{% endif %}
{% endpaginate %}

<h2>Search again:</h2>
<form id="search-form" name="search" action="/search">
	<input type="text" name="q" value="" placeholder="Search terms" />
	<button type="submit">Search</button>
</form>
</div> <!-- end .info -->
